<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
  
  

     <type name="Magento\Checkout\Model\DefaultConfigProvider">
 
            <plugin name="kitchen_checkout_config_provider" type="Kitchen\Ordertsk\Plugin\CustomShipping" disabled="false" sortOrder="1" />
 
        </type>

       

</config>

